@import '../../../styles.scss';

a {
  font-family: $police;
  text-decoration: none;
  color: black;
  margin: 0 5vw;
  text-decoration: underline white;

  &:hover {
    text-decoration: underline;
    transition-duration: 1s;
  }
}

.activePage {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: center;

}
