@import '../../../styles.scss';

a {
  font-family: $police;
  text-decoration: none;
  color: black;
  margin: 0 5vw;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  justify-content: center;

}
