@import '../../../styles.scss';

.answer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

button {
  background: #0087f5;
  border-radius: 10px;
  color: whitesmoke;
  font-style: inherit;
  padding: 1vh 1vw;
  width: 10vw;

  &:hover {
    opacity: 0.8;
  }
}

button, h3, input, label, p {
  font-family: $police;
  font-weight: normal;
}

h3 {
  padding: 0 1vw;
  text-align: justify;
  width: 50vw;
}

.date, .historical {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  padding: 0 1vw;
  width: 25vw;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 5vh auto;
  width: 70vw;
}

.formatting{
  display: flex;
}

input {
  border-radius: 10px;
  padding: 1vh 1vw;
  text-align: justify;
  width: 25vw;
}

label {
  align-self: center;
  text-align: justify;
}

p {
  height: 70px;
  text-align: justify;
}

.title {
  border: solid black 1px;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1vw;
  width: 52vw;
}

// Media queries //

@media screen and (max-width: 900px) {
  .dateMobile {
    display: none;
  }

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-around;
    margin: 5vh auto;

    button {
      width: 35vw;
      text-align: center;
    }

    input {
      width: 75vw;
    }
  }

  .historical, .title {
    width: 90vw;
  }
}
